
body { 
    background-color:lightcyan;}

nav .navbar-brand {
    background-color:rgb(121, 231, 220);
    color: rgba(255, 255, 255, 0.911);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar { 
    display:flex;
    justify-content: space-between;
    align-items: right;
    background-color:rgb(127, 131, 134);
    color:black;
} 

a { align-items: right;}

.navbar-brand { 
    font-size: 30px;
    text-emphasis: weight;

}
.navbar-links ul {
    margin: 0;
    padding:0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a { 
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block; 
}
.about-me-card {
    background-color: white;
    color:black;
    margin: 0;
    padding: 5;
    text-emphasis: weight;

}
.card-title {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-emphasis: weight;
    font-size: 40px;
}
.card-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size 20px;
    text-align:justify;
}