
body { 
    background-color:lightcyan;}

nav .navbar-brand {
    background-color:rgb(165, 245, 237);
    color: rgba(255, 255, 255, 0.911);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a { align-items: right;}

.navbar-brand { 
    font-size: 30px;
    text-emphasis: weight;

}
.navbar-nav {
    margin: 0;
    padding:0;
    justify-content: right;
}
}
.navbar-nav a { 
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block; 
}
.about-me-card {
    background-color: white;
    color:black;
    margin: 30px;
    padding: 20px;
    text-emphasis: weight;
    border: 1px solid #c9c9c9;
    ;

}
.card-title  {
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-emphasis: weight;
    font-size: 40px;
    color: black;


}
.card-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
}

.form-group {
    color:black;
    font-weight: 400;
    border-style: inset;

}
